.card{
  height: 30rem;
}
.card-img {
  object-fit: contain;
  height: 50%;
  width: 100%;
}
.details-img {
  object-fit: contain;
  height: 50%;
  width: 80%;
}

.cart-img{
  object-fit: contain;
  height: 10em;
  width: 40%;
}

.item-container {
  width: 100%;
  height: 80%;
}

.cart-icon-container :hover,
.catalog-return :hover{
  cursor: pointer;
}

body{
  background-color: teal;
  overflow-x: hidden;
}
